
<div class="formularioRegistro">
  <h2>Crear Producto</h2>
  <form [formGroup]="productoForm"  (ngSubmit)="guardar()">
    <div class="form-group">
      <label>Nombre</label>
      <input type="text" formControlName="nombre" class="form-control">
    </div>
    <div class="form-group">
      <label>Cantidad</label>
      <input type="number" formControlName="cantidad" class="form-control">
    </div>
    <div class="form-group">
      <div class="container mt-4">
        
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>

  </form>
</div>


<router-outlet>
</router-outlet>
